<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--My DAOs-->
    <bean id="BucketsDAO" class="demo.DAO.Impl.BucketsDAOImpl">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    <bean id="TicketsDAO" class="demo.DAO.Impl.TicketsDAOImpl">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>


</beans>